.notification-error,
.notification-success {
    align-items: center;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 3px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 100%;
    min-width: 400px;
    opacity: 0;
    padding: 10px 15px;
    pointer-events: none;
    position: fixed;
    right: 0;
    transition: opacity 0.3s ease;


    img {
        cursor: pointer;
        height: 10px;
        width: 10px;
    }

    &.isShown {
        opacity: 1;
        pointer-events: auto;
    }
}

.notification-error {
    background-color: #ff606c;
}
.notification-success {
    background-color: #64ff63;
}