.todolist {
    background-color: #F7F7F7;
    box-sizing: border-box;
    margin: 15px;
    max-width: 100%;
    padding: 10px;
    width: 300px;
    h3 {
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0;
        text-align: center;
    }

    ul {
        li {
            align-items: center;
            background-color: white;
            border-radius: 6px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            padding: 10px;

            span {
                cursor: e-resize;
            }

            img {
                cursor: pointer;
                height: 10px;
                width: 10px;
            }
        }
    }

    input[type="text"] {
        border: none;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        outline: none;
        padding: 10px;
        width: 100%;
    }

    span.remove-todolist-button {
        background-color: #ff001a;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        margin: 10px 0;
        padding: 5px;
        text-align: center;
    }
}