body {
    font-family: $main_font;
    height: 100vh;
    position: relative;
}

.wrap {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 115px;
    width: 1440px;
}

.add-todolist-button {
    background-color: #ff606c;
    border-radius: 50%;
    bottom: 20px;

    cursor: pointer;
    height: 40px;
    padding: 20px;
    position: fixed;
    right: 20px;
    width: 40px;

    img {
        height: 100%;
        width: 100%;
    }
}