header {
    padding: 20px 0;

    .header-container {
        display: flex;
        justify-content: space-between;

        .auth {
            .hello-header {
                margin-right: 25px;
            }
            .logout-button {
                color: #ff606c;
            }

            .logout-button {
                color: #ff606c;
                cursor: pointer;
            }
        }
    }
}